<div class="w-full h-full flex justify-center items-center">
    <div class="w-8/12 h-4/5 bg-white rounded-2xl shadow overflow-hidden flex flex-row">
        <div class="w-2/5 h-full p-16 flex flex-col justify-center relative">
            <div class="text-center absolute top-16 left-16">
                <img src="logo.svg" />
            </div>

            <div class="text-3xl font-bold mb-2">Forgot Password</div>
            <div class="mb-12 text-sm">
                <span>Back to</span>&nbsp;<a class="hover:underline text-blue-700"
                    [routerLink]="['/auth/login']">login</a>
            </div>

            <form (ngSubmit)="onForgotPassword()" [formGroup]="forgotPasswordForm">
                <mat-form-field class="w-full mb-12">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" matInput placeholder="your@email.com" type="email">

                    @if (forgotPasswordForm.controls['email'].hasError('required')) {
                    <mat-error>Email address is required</mat-error>
                    }

                    @if (forgotPasswordForm.controls['email'].hasError('email')) {
                    <mat-error>Please enter a valid email address</mat-error>
                    }
                </mat-form-field>

                <div class="flex flex-row justify-center mb-2">
                    <button type="submit" class="w-full" mat-flat-button>Get Reset Link</button>
                </div>
            </form>
        </div>
        <div class="w-3/5 p-16 bg-gray-800 h-full justify-center flex flex-col">
            <div class="text-4xl font-bold mb-6 text-white">Get a new NG Zero Effort password</div>
            <div class="text-gray-400">
                Can't remember your password? No worries, it happens! Enter your email, and we'll help you get back into
                your account.
                Let's get you reconnected!
            </div>
        </div>
    </div>
</div>