<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <img [src]="'flags/' + selectedLanguage + '.svg'" class="w-12"
        [ngClass]="{'w-12': size === 'large', 'w-10': size === 'regular', 'w-8': size==='small'}" />
</button>

<mat-menu #menu="matMenu" xPosition="before">
    @for (language of languages; track language) {
    <button mat-menu-item (click)="changeLanguage(language)">
        <div class="flex flex-row items-center">
            <img [src]="'flags/' + language + '.svg'" class="w-6 mr-2" />
            <span>{{'supportedLanguages.' + language | translate}}</span>
        </div>
    </button>
    }
</mat-menu>