<div class="w-full h-full flex justify-center items-center">
    <div class="w-8/12 h-4/5 bg-white rounded-2xl shadow overflow-hidden flex flex-row">
        <div class="w-2/5 h-full p-16 flex flex-col justify-center relative">
            <div class="text-center absolute top-16 left-16">
                <img src="logo.svg" />
            </div>

            <div class="text-3xl font-bold mb-2">{{'emailConfirmed.title' | translate}}</div>
            <div class="mb-12 text-sm">
                <a class="hover:underline text-blue-700" [routerLink]="['/auth/login']">
                    {{'emailConfirmed.backToLoginLink' | translate}}
                </a>
            </div>

            <div class="text-sm">
                {{'emailConfirmed.description' | translate}}
            </div>
        </div>
        <div class="w-3/5 p-16 bg-gray-800 h-full justify-center flex flex-col relative">
            <app-language-selector class="absolute top-16 right-16"></app-language-selector>

            <div class="text-4xl font-bold mb-6 text-white">{{'emailConfirmed.rightPanel.title' | translate}}</div>
            <div class="text-gray-400">
                {{'emailConfirmed.rightPanel.description' | translate}}
            </div>
        </div>
    </div>
</div>